@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
body{
    width: 100%;
}
h1{
font-size: 60px; line-height: 64px;
color: #222;
}
h2 {
font-size: 46px; line-height: 60px; color: #222;
}
h4 {
font-size: 25px;
color: #222;
line-height: 40px
}
h6 {
font-weight: 700;
font-size: 12px;
}
p
{font-size: 20px;
color: #465652;
margin: 15px 0 20px 0;
}
.section-p1 {
padding: 40px 88px;
}
.section-p2 {
    padding: 40px 88px;
    }
.section-m1 {
margin: 40px 0;
}
button.normal {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.normal22 {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 25px;
    color: white;
    background-color: #088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.ban {
    font-size: 16px;
    font-weight: 600;
    padding: 0px 10px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    color:white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    outline: #088178;
    transition: 0.2s;
}
button.white:hover{
    background-color: #088178;
    border: 1px solid #088178;
}
/* nav bar*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px ;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    z-index: 555;
    top: 0;
    left: 0;
    width: 100%;
   
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #1a1a1a;
    transition: .3s ease;
}
/* nav under line stylings */
#navbar li a:hover,
#navbar li a .active
{
    color:#088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 32%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px; 
    left: 22px;
    transition: 0.3s ease;
    color:#088178;
}
/* nav under line stylings - end */

/* hero section-starts */
#hero{
    background-image: url(images/hero3.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 45% right 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 120px;

}
#hero h1{
color: #088178;
}
#hero button{
    background-image: url(images/button.png);
    background-color: transparent;
    color: #088178;
    font-size: 18px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 15px 80px 14px 68px ;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
/* hero section-end  */

/*---feature-boxx---*/
#feature{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 20px 0px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
 }

 #feature .fe-box h6   {
    margin-top: 5px;
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    cursor: pointer;
}

#feature .fe-box:nth-child(1) h6{
    background-color: rgb(219,244,246) ;
}

#feature .fe-box:nth-child(2) h6{
    background-color:rgb(248,231,241) ;
}

#feature .fe-box:nth-child(3) h6{
    background-color: rgb(234,245,216) ;
}

#feature .fe-box:nth-child(4) h6{
    background-color: rgb(227,221,244) ;
}

#feature .fe-box:nth-child(5) h6{
    background-color: rgb(246,229,219) ;
}

#feature .fe-box:nth-child(6) h6{
    background-color: rgb(219,235,246) ;
}
/*---feature-boxx-end ---*/

/*--- product-container-starts -----*/
#product1{
    text-align: center;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px ;
    transition: 0.3s;
    position: relative;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .dis{
    text-align: start;
    padding: 15px 0px;
}
#product1 .pro .dis span {
    color: #606063;
    font-size: 18px;
    }
#product1 .pro .dis h4{
    padding-top: 2px;
    color: #1a1a1a;
    font-size: 20x;
    }
#product1 .pro .dis i {
        font-size: 16px;
        color: rgb(243, 181, 25);
 }

 #product1 .pro .dis h3{
    font-weight: 600;
    color: #088178;
    padding-top: 10px;
    font-size: 30px;
}
#product1 .pro a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #a5dead;
    padding-top: 8px;
    font-weight: 500;
    color: #088178;
    font-size: 22px;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 22px;
    right: 10px;
    }
 
.product-box{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-between;

}
/*--- product-container-end -----*/

/*---banner-section-starts----*/
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url(images/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    background-position: center;
}
#banner h1{
    color: white;
    font-size: 38px;
}

#banner h4{
    color: #f1f1f1;
}
#banner h1 span{
    color: rgb(236, 18, 18);
}
button.normal:hover{
    background-color: #088178;
    color: #fff;
}
/*---small-banner-starts---*/
#sm-banner .banner-box{
    height: 60vh;
    background-image: url(images/banner1.jpg);
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: start;
    flex-direction: column;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: center;
    min-width: 600px;
    
}
#sm-banner .banner-box2{
    background-image: url(images/banner2.jpg);
    padding-left: 60px;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box h4{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
}
.banner-box h2{
    color: #fff;
}
.banner-box span{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

/*----banner2-end----*/

/*---banner3-starts----*/
#banner3{
    padding: 30px 88px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#banner3 .banner-box{
    height: 30vh;
    background-image: url(images/ban1.jpg);
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: start;
    flex-direction: column;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: center;
    background-size: cover;
    width: 32%; 

}
#banner3 .banner-box:nth-child(2){
    background-image: url(images/ban2.jpg);
    background-position: center;
    background-size: cover;
    width: 30%; 

}
#banner3 .banner-box:nth-child(2) h4{
    color: rgb(239, 23, 23);
}
#banner3 .banner-box:nth-child(1) h4{
    color: rgb(233, 51, 51);
}
#banner3 .banner-box:nth-child(3) h4{
    color: rgb(239, 23, 23);
}
#banner3 .banner-box:nth-child(3){
    background-image: url(images/ban3.jpg);
    background-position: center;
    background-size: cover;
    width: 32%; 

}
/*---banner3-end----*/

/*---news-box-starts---*/
#news-box{
    display: flex;
    justify-content: space-between;
    background-image: url(images/banner6.jpg);
    margin: 40px 0 ;
}
#news-box .news-text h2{
    font-size: 32px;
    color: rgb(254, 245, 245);
}
#news-box .news-text h5{
    font-size: 23px;
    padding-bottom: 15px;
    color: #ededf3;
}
#news-box .news-text h5 span{
    color: rgb(255, 201, 100);
}
#news-box input{
    width: 300px;
    padding: 10px 90px 10px 20px ;
    font-size: 16px;
    font-weight: 400;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    border-radius: 2px ;
    outline: none;
    border: none;
    height: 50px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
#news-box button{
    background-color: #088178;
    color: white;
    flex-wrap: nowrap;
    height: 50px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.news-input{
    display: flex;
    margin-top: 30px;
    width: 45%;
}
/*---news-box-end---*/
.col{
    align-items: flex-start;
}
#footer-sec{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-bottom: 80px;
}
#footer-sec .follow h4{
    padding-bottom: 20px;
}
.follow .icon i {
    font-size:22px;
    padding-right: 6px;
    color: #48484b;
    transition: 0.3s;
}
.follow .icon i:hover{
    color:#088178 ;
}

/*------------*/
.col ul {
    list-style: none;
}
.col ul li a {
    text-decoration: none;
    font-size: 20px;
    line-height: 32px;
    color: #606063;
}
.col2 .img-pad{
    border: 1px solid #088178;
    padding:10px;
}
.col2{
display:flex;
}
.col2 img{
    margin-right: 10px;
}
.coll23{
    padding: 40px 20px;
}

/*-------shop-page---------------------------------------------*/
#blog-page{
    background-image: url(images/blog1.jpg);
    width: 100%;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#blog-page h1 ,
#blog-page p {
    color: white;
}
#pagination{
    display: flex;
    justify-content: center;
}
#pagination a{
    padding: 14px 20px;
    background-color: #088178;
    color: white;
    margin-right: 5px;
    border-radius: 3px;
    text-decoration: none;
}

/*----small-pro-shop----*/

#product-single{
    display: flex;
}
#product-single .product-box3{
    width: 40%;
    margin-right: 80px;
}
.sml-box{
    display: flex;
    justify-content: space-between;
}
.small-img{
    flex-basis: 23%;
}
.pro-details h3 {
    font-size: 22px;
    padding-top: 30px;
}
.pro-details h2{
    font-size: 30px;
    padding-top: 30px;
}
.pro-details h1{
    font-size: 42px;
    padding-top: 25px;
}

/*select*/
#select{
    padding: 6px 20px;
    margin-top: 10px;
}
.pro-details select option{
    padding: 10px 10px;
    margin-bottom: 10px;
}
.pro-details p{
    line-height: 25px;
}
#product-single .pro-details{
    width: 50%;
    padding-right: 50px;
}
.pro-details select{
    display: block;
    padding: 5px 10px ;
    margin-bottom: 30px;
}
.pro-details input{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-right: 5px;
}
.pro-details input:focus{
    outline:none;
}

/*-----hamb-burger----------*/

.mobile{
    display: none;
    align-items: center;
}
.mobile i{
    font-size: 26px;
    color: #222;
    padding-left: 20px;
}
#cross{
    display: none;
}
#close{
    display: none;
}

/*----blog-page--------*/
#blog-page2{
    background-image: url(images/blogban1.jpg);
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-bottom: 20px;
}

#blog-page22{
    background-image: url(images/aboutbanner1.png);
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-bottom: 0px;
}
#blog-page2 h1 ,#blog-page22 h1,
#blog-page2 p ,#blog-page22 p  {
    color: white;
}
/*-------media-query----------*/

/*------blog-boxx-----*/
#blog{
    padding: 150px 180px 0 180px;
}
#blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 130px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
    height: 300px;
    border-radius: 4px ;
}
.blog-img img {
    height:100% ;
    width: 100%;
    object-fit: cover;
    border-radius: 4px ;
}
#blog-box .blog-txt {
    width: 50%;
    margin-left: 120px;
}
#blog-box .blog-txt a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 700;
    position: relative;
}
#blog-box .blog-txt a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 7px;
    right: -60px;
    }

#blog-box .blog-num{
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -20;
}
#blog-box .blog-num h1{
    font-size: 83px;
    color: rgb(204,203,207);
}
#blog-box .blog-txt a:hover {
    color:#088178;
    }
    #blog-box .blog-txt a:hover::after {
    background-color: #088178;
    }

    /*------about-boxx-----*/
#about{
    padding: 100px 140px 0 140px;
}
#about-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
#about .blog-img{
    width: 50%;
    margin-right: 40px;
}
.about-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#about-box .about-txt{
    width: 50%;
    margin-left: 40px;
}
#about-box .blog-txt marquee  {
    background-color:black;
}


/*video-container----*/
#video .video-container{
    padding: 140px 180px 0 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#video .video-container h1{
    padding-bottom: 40px;
}
#video .video-container h1 a{
    color: rgb(128, 0, 128);
}
.video-box .mp4{
    border-radius: 40px;
}
#video .video-box{
    width: 70%;
    height: 100%;
    padding-bottom: 40px;
}

/*---contact-boxx------*/
#Contact-container .contact-box{
    display: flex;
    padding: 80px 100px 80px 100px;
}
#Contact-container .map{
    padding-left: 80px;
    height: 400px;
    width: 55%;
}
#Contact-container .map iframe{
    width: 100%;
}
#Contact-container .contact-txt{
    width: 45%;
    align-items: flex-start;
    padding-top:40px ;
}
#Contact-container .contact-txt h5{
    padding-bottom: 20px;
    font-size: 20px;
    color: #606063;
    font-weight: 400;
}
#Contact-container .contact-txt h3{
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #222222ed;
}
#Contact-container .contact-txt h4{
    padding-bottom: 20px;
}
#Contact-container .contact-txt h6{
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    color:#a1a1a7;
}
#Contact-container .contact-txt h6 i{
    padding-right: 20px ;
    color:#a1a1a7;
}
/*----form------*/
#form-details{
    display: flex;
    align-items: center;
    margin: 30px 80px 40px 80px;
    padding: 40px;
    border: 1px solid rgba(0, 0, 0, 0.609);
}
#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;}

    #form-details form span{
        padding-bottom: 20px;
        font-size: 16px;
        font-weight: 400;
        color:#a1a1a7;
    } 
    #form-details form h3{
        padding-bottom: 20px;
        font-size: 32px;
        font-weight: 700;
        color: #222222ed;
    }
        #form-details form input ,
        #form-details textarea  {
        width: 100%;
        padding: 12px 15px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
        font-size: 16px;
    }
  /*--pepole-box---*/
  #form-details .people-box p  span{
    display: block;
    padding-bottom: 13px;
  }
  #ppl-box .people-box img{
    height: 65px;
    width: 65px;
    object-fit: cover;
    margin-left: 85px; 
    margin-right: 25px; 
    margin-top: 30px;
 }
  #ppl-box .people-box{
    display: flex;
    position: relative;
  }

  /*-----cart styling-------*/
  #cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    }

    #cart table img {
    width: 70px;
    }

    #cart table td:nth-child(1){
        width: 100px;
        text-align: center;
        }

        #cart table td:nth-child(2){
        width: 150px;
        text-align: center;
        }

        #cart table td:nth-child(3){
        width: 250px;
        text-align: center;
        }

        #cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
width: 150px;
text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
    }

    #cart table thead td {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    padding: 18px 0;
    }

    #cart table tbody tr td {
        padding-top: 15px;
        }

        #cart table tbody td {
        font-size: 13px;}

        #cart-add {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    }

    #coupon{width: 50%;
        margin-bottom: 30px;
        }
        #coupon h3,
        #subtotal h3
        {
        padding-bottom: 15px;
        }

        #coupon input {
            padding: 10px 20px;
            outline: none;
            width: 60%;
            margin-right: 10px;
            border: 1px solid #e2e9e1;
            }
    
            #coupon button,
            #subtotal button {
                background-color: #088178;
                color:   #fff;
                padding: 12px 20px;
                }
                #subtotal {
                    width: 50%;
                    margin-bottom: 30px;
                    border: 1px solid #e2e9e1;
                    padding: 30px;
                }

                #subtotal table{
                    border-collapse: collapse;
                    width: 100%;
                    margin-bottom: 20px;
                    }

                    #subtotal table td{
                    width: 50%;
                    border: 1px solid #e2e9e1;
                    padding: 10px;
                    font-size: 13px;
                }



  


@media (max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        height: 100vh;
        width: 300px;
        top: 0;
        right: -300px;
        background-color: #e3e6f3;
        box-shadow: 0px 40px 80px rgba(0,0,0,0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.3s;
    }
    #navbar li{
        margin-bottom: 40px;
    }
    #navbar.active{
        right: 0px;
    }

    .mobile{
        display: flex;
        align-items: center;
    }
    
    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 32px;
        display: inline;
    }
    #navbar .nobag{
        display: none;
    }

    #hero {
      
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0px 120px;
    }

    .product-box {
        justify-content: center;
    }

    #product1 .pro {
        margin: 20px;
    }

    #banner {
        height: 26vh;
    }

    #sm-banner .banner-box {
        height: 26vh;
        width: 100%;
        background-position: center;
        margin-bottom: 30px;
        justify-content: center;
        background-repeat: no-repeat;
    }

    .section-p1 {
        padding: 30px 60px;
    }

    #banner3 {
        padding: 20px 60px;
    }

    #banner3 .banner-box:nth-child(2) {
     width: 30%;
     height: 30vh;
    }
    #banner3 .banner-box:nth-child(2) h2{
        font-size: 32px;
    }
    #banner3 .banner-box:nth-child(3) {
       width: 30%;
     height: 30vh;

    }
    #banner3 .banner-box:nth-child(3) h2{
        font-size: 32px;
    }
    #banner3 .banner-box:nth-child(1) h2{
        font-size: 32px;
    }
    #banner3 .banner-box {
     height: 30vh;

    }
    #banner3 {
        justify-content: space-between;
    }

    #footer-sec{
        padding-bottom: 100px;
    }

    #product-single .pro-details {
        width: 50%;
        padding-right: 20px;
        padding-left: 30px;
    }
    #sm-banner .banner-box2 {
        height: 40vh;
        background-image: url(images/banner2.jpg);
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: start;
        flex-direction: column;
        background-repeat: no-repeat;
        padding-left: 30px;
        background-position: center;
        min-width: 300px;
    }
    #product-single .product-box3 {
     margin-top: 100px;
    }
}

@media(max-width:420px){

    #sm-banner .banner-box {
        height: 40vh;
        background-image: url(images/banner1.jpg);
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: start;
        flex-direction: column;
        background-repeat: no-repeat;
        padding-left: 30px;
        background-position: center;
        min-width: 300px;
    }
    #sm-banner .banner-box2 {
        height: 40vh;
        background-image: url(images/banner2.jpg);
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: start;
        flex-direction: column;
        background-repeat: no-repeat;
        padding-left: 30px;
        background-position: center;
        min-width: 300px;
    }
    #sm-banner{
        display: flex;
    }
    

    #news-box {
        display: flex;
        flex-wrap: wrap;
        background-image: url(images/banner6.jpg);
        margin: 40px 0;
    }
    .news-input {
        display: flex;
        margin-top: 30px;
        width: 20%;
    }
    .section-p1{
    padding: 20px 0px;
    }
    .col2 {
        display: inline;
    }
    .col2 img{
        margin-bottom: 20px;
    }
    #banner3 {
        display: inline;
        justify-content: space-between;
    }
    #header {
        padding: 20px 20px;
    }
    #hero {
        padding: 40px 20px 0px 20px;
    background-position: top 30% right 40%;
}
#feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#news-box input {
    
    padding: 10px 40px 10px 20px;
   
}
#feature .fe-box {
    width: 165px;
    margin: 0px 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    align-items: center;
}
#product1 .pro {
    width: 100%;
}
#banner {
    height: 40vh;
}
#banner3 {
    display: flex;
    justify-content: space-between;
}
#banner3 .banner-box {
    padding-left: 3px;
}
#banner3 {
    padding: 20px 0px;
}
#banner3 .banner-box:nth-child(3) h2{
    font-size: 26px;
}
#banner3 .banner-box:nth-child(3) h4{
    font-size: 16px;
}
#banner3 .banner-box:nth-child(2) h4{
    font-size: 16px;
}
#banner3 .banner-box:nth-child(1) h2{
    font-size: 26px;
}
#banner3 .banner-box {
 height: 30vh;

}
#news-box .news-text h2 {
   padding-left: 10px;
}
#news-box .news-text h5 {
  padding-left: 10px;
}
#news-box input {
   margin-left: 10px;
}
#product-single {
    display: flex;
    flex-direction: column;
}
#product-single .product-box3 {
    width: 100%;
    margin-top: 20px;
}
#product-single .pro-details {
    width: 100%;
}
}